/* MEDIA FILTERS */
.media-modal-content .attachments-browser .media-toolbar {
	display: flex;
}

.media-modal-content .attachments-browser .media-toolbar .media-toolbar-secondary,
.media-modal-content .attachments-browser .media-toolbar .media-toolbar-primary {
	max-width: none;
}

.media-modal-content .attachments-browser .media-toolbar .media-toolbar-secondary {
	display: flex;
	flex: 1;
	align-items: flex-start;
}

body.block-editor-page .media-modal-content .media-frame select.attachment-filters,
.media-modal-content .media-frame .media-toolbar select.attachment-filters {
	flex: 1;
	width: 50%;
	margin-right: 10px;
}

.media-modal-content .media-frame .media-toolbar .spinner {
	flex: 0 0 20px;
	align-self: flex-end;
	margin-right: 20px;
	margin-bottom: 15px;
}

/* SELECTIZE */
.selectize-control.multi .selectize-input > div,
.selectize-control.multi .selectize-input > div.active {
	border-width: 1px;
	border-radius: 3px;
}

.compat-item tr.compat-field-selectize {
	display: table-row;
	overflow: auto;
}

.compat-item tr.compat-field-selectize .selectize-input {
	min-height: 38px;
}

.compat-item tr.compat-field-selectize > td.field {
	margin-bottom: 5px;
}

.selectize-input {
	box-shadow: 0 0 0 transparent;
	border-radius: 4px;
	border: 1px solid #7e8993;
	background-color: #fff;
	color: #32373c;
}

.wp-admin .media-frame .selectize-input.input-active,
.selectize-input.input-active {
	border-color: #007cba;
    box-shadow: 0 0 0 1px #007cba;
}

.admin-color-light .selectize-input.input-active {
	border-color: #04a4cc;
    box-shadow: 0 0 0 1px #04a4cc;
}

.admin-color-blue .selectize-input.input-active {
	border-color: #096484;
    box-shadow: 0 0 0 1px #096484;
}

.admin-color-coffee .selectize-input.input-active {
	border-color: #c7a589;
    box-shadow: 0 0 0 1px #c7a589;
}

.admin-color-ectoplasm .selectize-input.input-active {
	border-color: #a3b745;
    box-shadow: 0 0 0 1px #a3b745;
}

.admin-color-ectoplasm .selectize-input.input-active {
	border-color: #a3b745;
    box-shadow: 0 0 0 1px #a3b745;
}

.admin-color-midnight .selectize-input.input-active {
	border-color: #e14d43;
    box-shadow: 0 0 0 1px #e14d43;
}

.admin-color-ocean .selectize-input.input-active {
	border-color: #9ebaa0;
    box-shadow: 0 0 0 1px #9ebaa0;
}

.admin-color-sunrise .selectize-input.input-active {
	border-color: #dd823b;
    box-shadow: 0 0 0 1px #dd823b;
}

.selectize-input .parent-label,
.selectize-dropdown-content .parent-label {
	color: #BBBBBB;
}

.selectize-input [data-value] {
	position: relative;
	padding-right: 24px !important;
}

.selectize-input .remove {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 17px;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	color: inherit;
	text-decoration: none;
	vertical-align: middle;
	font-family: serif;
	padding: 2px 0 0;
	border-left: 1px solid #d0d0d0;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	box-sizing: border-box;
}

.selectize-input .remove:hover {
	background-color: rgba(0,0,0,.05);
}

.selectize-dropdown {
	z-index: 1000000;
}

.selectize-dropdown [data-value] {
	padding: 5px 8px;
}

.selectize-dropdown .searchhint {
	color: rgba(48,48,48,.5);
}

/* .upload-php .selectize-dropdown {
	margin-top: -33px;
} */

